{
  "presets": [
    ["es2015"],
    "env",
    "react",
    "stage-2"
  ],
  "env": {
    "development": {
      "plugins": [
        "universal-import",
        "react-hot-loader/babel",
        "transform-object-rest-spread",
        "transform-class-properties"
      ]
    },
    "production": {
      "plugins": [
        "universal-import",
        "transform-object-rest-spread",
        "transform-class-properties"
      ]
    }
  }
}
