doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title= title
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        block stylesheets
    body
        <div id="root"></div>
        div(class="container-fluid")
            div(clss="row")
                if error_messages.length
                    div(class="alert alert-danger alert-dismissible")
                        a(href="#" class="close" data-dismiss="alert" aria-label="close") &times;
                        != error_messages
                if success_messages.length
                    div(class="alert alert-success alert-dismissible")
                        a(href="#" class="close" data-dismiss="alert" aria-label="close") &times;
                        != success_messages
            block content
        script(src="/javascripts/jquery.js")
        script(src="/javascripts/bootstrap.js")
        block javascripts
