doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        block stylesheets
    body
        <div id="root"></div>
        div(class="navbar navbar-default")
            div(class="container-fluid")
                div(class="navbar-header")
                    button(type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#navbar-main" aria-expanded="false")
                        span(class="sr-only") Toggle navigation
                        span(class="icon-bar")
                        span(class="icon-bar")
                        span(class="icon-bar")
                    a(  class="navbar-brand" href="/") PHPiotr 4.0
                div(class="collapse navbar-collapse" id="navbar-main")
                    ul(class="nav navbar-nav")
                        - if (session.user) {
                            - var menu = ['buses', 'planes', 'trains', 'hostels'];
                            - for (var i = 0; i < menu.length; i++) {
                                - if (menu[i] === selected) {
                                li.active
                                    a(href="/bookings/" + menu[i] class="btn btn-link")= menu[i]
                                - } else {
                                li
                                    a(href="/bookings/" + menu[i] class="btn btn-link")= menu[i]
                                - }
                            - }
                        - } else {
                            li
                                a(href="/session/new") Login
                        - }
                    - if (session.user) {
                    form(method="GET", action="" class="navbar-form navbar-left")
                        div(class="form-group")
                            input(class="form-control" type="text" name="report_from" id="report-from" placeholder="From")
                        div(class="form-group")
                            input(class="form-control" type="text" name="report_to" id="report-to" placeholder="To")
                    - }

                    ul(class="nav navbar-nav navbar-right")
                        - if (session.user) {
                            li
                                form(method="POST", action="/session?_method=DELETE" class="navbar-form")
                                    button(type="submit" class="btn btn-link") Logout
                            //-li
                                //-form(method="POST", action="/users + encodeURIComponent(user.username) + ?_method=DELETE" class="navbar-form")
                                    //-button(type="submit" class="btn btn-link") Delete account
                        - } else {
                            li
                                a(href="/users/new") Register
                        - }
        div(class="container-fluid")
            div(clss="row")
                if error_messages.length
                    div(class="alert alert-danger alert-dismissible")
                        a(href="#" class="close" data-dismiss="alert" aria-label="close") &times;
                        != error_messages
                if success_messages.length
                    div(class="alert alert-success alert-dismissible")
                        a(href="#" class="close" data-dismiss="alert" aria-label="close") &times;
                        != success_messages
            block content
        script(src="/javascripts/jquery.js")
        script(src="/javascripts/bootstrap.js")
        block javascripts
