extends ../layout
block content

    h1= title
    div(class="hero")
        ul
            each val, prop in user
                if typeof val === 'string'
                    li= prop + ': ' + user[prop]